
  DROP TABLE USER_VOTES;
  
  CREATE TABLE USER_VOTES(
	VOTE_ID INT IDENTITY(10001, 1) PRIMARY KEY,
	USER_USERID VARCHAR(6) NOT NULL
	CONSTRAINT FK_USER_LOGGED
		FOREIGN KEY(USER_USERID)
		REFERENCES USER_DATA(USER_USERID),
	VIDEO_ID VARCHAR(6) NOT NULL
	CONSTRAINT FK_VIDEO_VIEWED
		FOREIGN KEY(VIDEO_ID)
		REFERENCES VIDEO_DATA(VIDEO_ID),
	USER_LIKED BIT DEFAULT 0,
	USER_DISLIKED BIT DEFAULT 0
  )