
  DROP TABLE RANKING_NOFLY;

  CREATE TABLE RANKING_NOFLY(
	NOFLY_ID INT IDENTITY(10001, 1) PRIMARY KEY,
	USER_USERID VARCHAR(6) NOT NULL
	CONSTRAINT FK_USER_RANKED
		FOREIGN KEY(USER_USERID)
		REFERENCES USER_DATA(USER_USERID),
	VIDEO_ID VARCHAR(6) NOT NULL
	CONSTRAINT FK_VIDEO_RANKED
		FOREIGN KEY(VIDEO_ID)
		REFERENCES VIDEO_DATA(VIDEO_ID)
  )