body 
{
    background-color: #006400;
}

#fields
{
    text-align: center;
    margin-top: 30px;
    margin-right: 300px;
}

.emailField
{
    margin-left: 17px;
}

.SubButton 
{
    margin-left: 60px;
}

#topNav
{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

#topNav ul li
{
    display:inline;
    padding: 200px;
}

#topNav ul li a
{
    text-decoration: none;
    color:black;
}

#topNav ul li a:hover
{
    text-decoration: none;
    color:black;
    color: #ccac00;
}

#topRightNav
{
    float:right;
}

#topRightNav ul li
{
    list-style-type: none;
    margin-bottom: 25px;
}

#topRightNav ul li a
{
    color:black;
    text-decoration: none;
}

#topRightNav ul li a:hover
{
    color: #ccac00;
}

#Info
{
    margin-left: 300px;
    margin-right: 300px;
    word-break: break-all; 
    word-wrap: break-word;
}

#Footer
{
    margin-top: 150px;
    margin-left: 650px;
}

#NewSection
{
    margin-left: 650px;
}
