<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="djm38_EmeraldConnectionString" connectionString="Data Source=stusql;Initial Catalog=djm38_Emerald;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Emerald_DatabaseConnectionString" connectionString="Data Source=STUSQL;Initial Catalog=Emerald_Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
